<p>Seja bem vindo, {{student}}</p>

<p>Segue Detalhes da matricula abaixo:</p>

<ul>
  <li><strong>Plano: </strong>{{plan}}</li>
  <li><strong>Data de Inicio: </strong>{{start_date}}</li>
  <li><strong>Data de Termino: </strong>{{end_date}}</li>
  <li><strong>Valor Total: </strong>{{price}}</li>
</ul>
